$grey: rgb(155, 155, 155);

:root {
    --edrp-background-color: #fff;
    --edrp-font-color: rgba(0, 0, 0, 0.8);
    --edrp-primary-color: rgb(82, 143, 255);
    --edrp-primary-color-alpha: rgba(82, 143, 255, 0.25);
    --edrp-border-color: lightgrey;
}

.EDRP {
    position: relative;

    &__body {
        position: absolute;
        top: 100%;
        color: rgba(0, 0, 0, 0.8);
        color: var(--edrp-font-color);
        background: #fff;
        background: var(--edrp-background-color);
        border: 1px solid var(--edrp-border-color);
        border-radius: 5px;
        z-index: 1;

        &--sticky {
          position: relative;
          width: 670px;
        }
    }

    &__selectors {
      display: flex;
    }

    &__button {
        border: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-family: inherit;
        padding: 5px 10px;
        font-size: 0.8rem;
        border-radius: 3px;
        margin-left: 5px;
        color: rgba(0, 0, 0, 0.8);
        color: var(--edrp-font-color);
        background: #fff;
        background: var(--edrp-background-color);
        cursor: pointer;

        &--primary {
            background: rgb(82, 143, 255);
            background: var(--edrp-primary-color);
            color: #fff;
        }

        &[disabled] {
            opacity: .4;
        }
    }

    &Presets {
        &__list {
            margin: 0;
            padding: 10px;
            list-style: none;
            max-height: 226px;
            min-width: 120px;
            overflow: auto;
        }

        &__label {
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 3px;

            &:hover {
                background: rgba($grey, 0.3);
            }

            &--active {
                background: rgb(82, 143, 255);
                background: var(--edrp-primary-color);
                color: #fff;

                &:hover {
                    background: rgb(82, 143, 255);
                    background: var(--edrp-primary-color);
                }
            }
        }
    }

    &Calendar {
        margin: 0 10px 0 0;
        padding: 10px 0 0 10px;
        text-align: center;

        &__cell {
            padding: 7px 9px;
            cursor: pointer;
            border-radius: 3px;
            font-weight: bold;
            font-size: 0.9rem;

            &:hover {
                background: rgba($grey, 0.3);
            }

            &--active {
                background: rgb(82, 143, 255);
                background: var(--edrp-primary-color);
                color: #fff;
            }

            &--disabled {
                text-decoration: line-through;
                opacity: 0.5;
            }

            &--inRange {
                background: rgba(82, 143, 255, 0.25);
                background: var(--edrp-primary-color-alpha);
                border-radius: 0;

                &:hover {
                    background: rgba(82, 143, 255, 0.25);
                    background: var(--edrp-primary-color-alpha);
                }
            }

            &--end {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                background: rgb(82, 143, 255);
                background: var(--edrp-primary-color);

                &:hover {
                    background: rgb(82, 143, 255);
                    background: var(--edrp-primary-color);
                }
            }

            &--off {
                opacity: 0.5;
                font-weight: normal;
            }

            &--start {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                background: rgb(82, 143, 255);
                background: var(--edrp-primary-color);

                &:hover {
                    background: rgb(82, 143, 255);
                    background: var(--edrp-primary-color);
                }
            }

            &--today {
                outline: 1px dashed $grey;
            }

        }

        &__head {
          height: 36px;
        }

        &__nav {
            cursor: pointer;
            height: 15px;
            padding: 7px;
            border-radius: 5px;
            margin-bottom: 7px;

            &:hover {
                background: rgba($grey, 0.3);
            }

            &--prev {
                content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 492 492"><path fill="rgba(155,155,155)" d="M464 207l1 1H136l103-104a27 27 0 0 0 0-38l-16-16c-5-6-12-8-19-8s-14 2-19 8L8 227a27 27 0 0 0 0 38l177 177c5 6 12 8 19 8s14-2 19-8l16-16a27 27 0 0 0 0-37L135 284h330c15 0 27-12 27-27v-23c0-15-13-27-28-27z"/></svg>');
            }

            &--next {
                content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 492 492"><path fill="rgba(155,155,155)" d="M484 227L306 49a27 27 0 0 0-38 0l-16 16a27 27 0 0 0 0 38l104 105H27c-15 0-27 11-27 26v23c0 15 12 27 27 27h330L252 389a27 27 0 0 0 0 38l16 16a27 27 0 0 0 38 0l178-178a27 27 0 0 0 0-38z"/></svg>');
            }
        }

        &__table {
            border-spacing : 0;
            border-collapse : collapse;
        }
    }

    &Foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba($grey, 0.2);
        padding: 10px;

        &__actions {
          margin-left: auto;
        }
    }
}
