$grey: rgb(155, 155, 155);

:root {
    --edrp-background-color: #fff;
    --edrp-font-color: rgba(0, 0, 0, 0.8);
    --edrp-primary-color: rgb(82, 143, 255);
    --edrp-primary-color-alpha: rgba(82, 143, 255, 0.25);
    --edrp-border-color: lightgrey;
}

.EDRP {
    position: relative;

    * {
      box-sizing: border-box;
    }

    &__body {
        position: absolute;
        top: 100%;
        color: rgba(0, 0, 0, 0.8);
        color: var(--edrp-font-color);
        background: #fff;
        background: var(--edrp-background-color);
        border: 1px solid var(--edrp-border-color);
        border-radius: 5px;
        z-index: 1;

        &--sticky {
          position: relative;
          width: 670px;
        }
    }

    &__selectors {
      display: flex;
    }

    &__button {
        border: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-family: inherit;
        padding: 5px 10px;
        font-size: 0.8em;
        border-radius: 3px;
        margin-left: 5px;
        color: rgba(0, 0, 0, 0.8);
        color: var(--edrp-font-color);
        background: #fff;
        background: var(--edrp-background-color);
        cursor: pointer;

        &--primary {
            background: rgb(82, 143, 255);
            background: var(--edrp-primary-color);
            color: #fff;
        }

        &[disabled] {
            opacity: .4;
        }
    }

    &Presets {
        display: flex;

        &__list {
            flex: 1;
            padding: 15px 10px;
            list-style: none;
            margin: 0;
            max-height: 226px;
            min-width: 120px;
            overflow: auto;
        }

        &__label {
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 3px;

            &:hover {
                background: rgba($grey, 0.3);
            }

            &--active {
                background: rgb(82, 143, 255);
                background: var(--edrp-primary-color);
                color: #fff;

                &:hover {
                    background: rgb(82, 143, 255);
                    background: var(--edrp-primary-color);
                }
            }
        }
    }

    &Calendar {
        margin: 0 10px 10px 0;
        padding: 10px 0 0 10px;
        text-align: center;

        &__cell {
            padding: 7px 9px;
            cursor: pointer;
            border-radius: 3px;
            font-weight: bold;
            font-size: 0.9em;

            &:hover {
                background: rgba($grey, 0.3);
            }

            &--active {
                background: rgb(82, 143, 255);
                background: var(--edrp-primary-color);
                color: #fff;
            }

            &--disabled {
                text-decoration: line-through;
                opacity: 0.5;
            }

            &--inRange {
                background: rgba(82, 143, 255, 0.25);
                background: var(--edrp-primary-color-alpha);
                border-radius: 0;

                &:hover {
                    background: rgba(82, 143, 255, 0.25);
                    background: var(--edrp-primary-color-alpha);
                }
            }

            &--end {
                border-bottom-right-radius: 5px;
                border-top-right-radius: 5px;
                background: rgb(82, 143, 255);
                background: var(--edrp-primary-color);

                &:hover {
                    background: rgb(82, 143, 255);
                    background: var(--edrp-primary-color);
                }
            }

            &--off {
                opacity: 0.5;
                font-weight: normal;
            }

            &--start {
                border-bottom-left-radius: 5px;
                border-top-left-radius: 5px;
                background: rgb(82, 143, 255);
                background: var(--edrp-primary-color);

                &:hover {
                    background: rgb(82, 143, 255);
                    background: var(--edrp-primary-color);
                }
            }

            &--today {
                outline: 1px dashed $grey;
            }

        }

        &__head {
          height: 36px;
        }

        &__nav {
            cursor: pointer;
            font-size: 1.1em;
            border-radius: 5px;

            &:hover {
                background: rgba($grey, 0.3);
            }
        }

        &__table {
            border-spacing : 0;
            border-collapse : collapse;
        }
    }

    &Foot {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba($grey, 0.2);
        padding: 10px;

        &__actions {
          margin-left: auto;
        }
    }
}
