:root {
  --edrp-background-color: #fff;
  --edrp-font-color: rgba(0, 0, 0, 0.8);
  --edrp-primary-color: rgb(82, 143, 255);
  --edrp-primary-color-alpha: rgba(82, 143, 255, 0.25);
  --edrp-border-color: lightgrey;
}

.EDRP {
  position: relative;
}

.EDRP__body {
  position: absolute;
  top: 100%;
  color: rgba(0, 0, 0, 0.8);
  color: var(--edrp-font-color);
  background: #fff;
  background: var(--edrp-background-color);
  border: 1px solid var(--edrp-border-color);
  border-radius: 5px;
}

.EDRP__body--sticky {
  position: relative;
  width: 670px;
}

.EDRP__button {
  border: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: inherit;
  padding: 5px 10px;
  font-size: 0.8rem;
  border-radius: 3px;
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.8);
  color: var(--edrp-font-color);
  background: #fff;
  background: var(--edrp-background-color);
  cursor: pointer;
}

.EDRP__button--primary {
  background: #528fff;
  background: var(--edrp-primary-color);
  color: #fff;
}

.EDRP__button[disabled] {
  opacity: .4;
}

.EDRPPresets {
  float: left;
}

.EDRPPresets__list {
  margin: 0;
  padding: 10px;
  list-style: none;
}

.EDRPPresets__label {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}

.EDRPPresets__label:hover {
  background: rgba(155, 155, 155, 0.3);
}

.EDRPPresets__label--active {
  background: #528fff;
  background: var(--edrp-primary-color);
  color: #fff;
}

.EDRPPresets__label--active:hover {
  background: #528fff;
  background: var(--edrp-primary-color);
}

.EDRPCalendar {
  float: left;
  margin: 0 10px;
  padding: 10px 0;
  text-align: center;
}

.EDRPCalendar__cell {
  padding: 7px 9px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  font-size: 0.9rem;
}

.EDRPCalendar__cell:hover {
  background: rgba(155, 155, 155, 0.3);
}

.EDRPCalendar__cell--active {
  background: #528fff;
  background: var(--edrp-primary-color);
  color: #fff;
}

.EDRPCalendar__cell--disabled {
  text-decoration: line-through;
  opacity: 0.5;
}

.EDRPCalendar__cell--inRange {
  background: rgba(82, 143, 255, 0.25);
  background: var(--edrp-primary-color-alpha);
  border-radius: 0;
}

.EDRPCalendar__cell--inRange:hover {
  background: rgba(82, 143, 255, 0.25);
  background: var(--edrp-primary-color-alpha);
}

.EDRPCalendar__cell--end {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: #528fff;
  background: var(--edrp-primary-color);
}

.EDRPCalendar__cell--end:hover {
  background: #528fff;
  background: var(--edrp-primary-color);
}

.EDRPCalendar__cell--off {
  opacity: 0.5;
  font-weight: normal;
}

.EDRPCalendar__cell--start {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background: #528fff;
  background: var(--edrp-primary-color);
}

.EDRPCalendar__cell--start:hover {
  background: #528fff;
  background: var(--edrp-primary-color);
}

.EDRPCalendar__cell--today {
  outline: 1px dashed #9b9b9b;
}

.EDRPCalendar__head {
  height: 36px;
}

.EDRPCalendar__nav {
  cursor: pointer;
  height: 15px;
  padding: 7px;
  border-radius: 5px;
  margin-bottom: 7px;
}

.EDRPCalendar__nav:hover {
  background: rgba(155, 155, 155, 0.3);
}

.EDRPCalendar__nav--prev {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 492 492"><path fill="rgba(155,155,155)" d="M464 207l1 1H136l103-104a27 27 0 0 0 0-38l-16-16c-5-6-12-8-19-8s-14 2-19 8L8 227a27 27 0 0 0 0 38l177 177c5 6 12 8 19 8s14-2 19-8l16-16a27 27 0 0 0 0-37L135 284h330c15 0 27-12 27-27v-23c0-15-13-27-28-27z"/></svg>');
}

.EDRPCalendar__nav--next {
  content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" version="1" viewBox="0 0 492 492"><path fill="rgba(155,155,155)" d="M484 227L306 49a27 27 0 0 0-38 0l-16 16a27 27 0 0 0 0 38l104 105H27c-15 0-27 11-27 26v23c0 15 12 27 27 27h330L252 389a27 27 0 0 0 0 38l16 16a27 27 0 0 0 38 0l178-178a27 27 0 0 0 0-38z"/></svg>');
}

.EDRPCalendar__table {
  border-spacing: 0;
  border-collapse: collapse;
}

.EDRPFoot {
  clear: both;
  background: rgba(155, 155, 155, 0.2);
  padding: 10px;
}

.EDRPFoot__actions {
  float: right;
}

.EDRPFoot::after {
  clear: both;
  content: "";
  display: table;
}
